@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'keyframes.css';
@import 'variables.css';


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
